//- index.pug

extends layout

block content
  .welcome-section
    h1 Welcome to LetWalk
    p
      | Explore the world on foot with LetWalk. 
      | Discover amazing places, connect with fellow walkers,
      | and make your journey memorable.

  .features-section
    h2 Key Features
    ul
      li Discover new walking routes
      li Connect with other walkers
      li Track your walking progress
      li Share your favorite routes

  .get-started-section
    h2 Get Started
    p Ready to start your walking adventure? Sign up now and join LetWalk!

    a(href='/signup') Sign Up

  .footer-section
    p © 2024 LetWalk. All rights reserved.
